<section class="advantge">
  <div class="container">
    <div class="advantge-title-wrapper">
      <h2 class="advantge-title">Чому обрати нас?</h2>

      <h3 class="advantage-subtitle">Переваги</h3>
    </div>

    <p class="advantage-text">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>
    <ul class="advantge-card-list">
      <li class="advantge-card-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/advantages/advantage-1-desc.png    1x,
              ./img/advantages/advantage-1-desc@2x.png 2x
            "
            type="image/jpeg"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./img/advantages/advantage-1-tab.png    1x,
              ./img/advantages/advantage-1-tab@2x.png 2x
            "
            type="image/jpeg"
          />

          <source
            media="(min-width: 320px)"
            srcset="
              ./img/advantages/advantage-1-mob.png    1x,
              ./img/advantages/advantage-1-mob@2x.png 2x
            "
            type="image/jpeg"
          />

          <img src="./img/advantages/advantage-1-mob@2x.png" alt="" />
        </picture>

        <div class="advantge-card-text-wrapper">
          <h4 class="advantge-card-title">Стійкість та екологічність</h4>
          <p class="advantge-card-text">
            Виготовлені з органічної бавовни та переробленого пластику.
          </p>
        </div>
      </li>

      <li class="advantge-card-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/advantages/advantage-2-desc.png    1x,
              ./img/advantages/advantage-2-desc@2x.png 2x
            "
            type="image/jpeg"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./img/advantages/advantage-2-tab.png    1x,
              ./img/advantages/advantage-2-tab@2x.png 2x
            "
            type="image/jpeg"
          />

          <source
            media="(min-width: 320px)"
            srcset="
              ./img/advantages/advantage-2-mob.png    1x,
              ./img/advantages/advantage-2-mob@2x.png 2x
            "
            type="image/jpeg"
          />

          <img src="./img/advantages/advantage-1-mob@2x.png" alt="" />
        </picture>

        <div class="advantge-card-text-wrapper">
          <h4 class="advantge-card-title">Міцність і довговічність</h4>
          <p class="advantge-card-text">
            Наші сумки мають посилені шви для тривалого використання.
          </p>
        </div>
      </li>

      <li class="advantge-card-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/advantages/advantage-3-desc.png    1x,
              ./img/advantages/advantage-3-desc@2x.png 2x
            "
            type="image/jpeg"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./img/advantages/advantage-3-tab.png    1x,
              ./img/advantages/advantage-3-tab@2x.png 2x
            "
            type="image/jpeg"
          />

          <source
            media="(min-width: 320px)"
            srcset="
              ./img/advantages/advantage-3-mob.png    1x,
              ./img/advantages/advantage-3-mob@2x.png 2x
            "
            type="image/jpeg"
          />

          <img src="./img/advantages/advantage-1-mob@2x.png" alt="" />
        </picture>

        <div class="advantge-card-text-wrapper">
          <h4 class="advantge-card-title">Стильний та сучасний дизайн</h4>
          <p class="advantge-card-text">
            Мінімалістичні моделі в обмежених серіях для кожного стилю.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
