<link rel="stylesheet" href="../css/gallery.css">
<section class="gallery-section" id="gallery">
    <div class="container">
        <h2 class="gallery-title">Галерея зображень</h2>
        <h4 class="gallery-sub-title">EcoTotes у повсякденному житті</h4>
        <ul class="gallery-list">

            <!-- <div class="gallery-item-wrapper"> -->
            <li class="gallery-list-item order-block-1">
                <picture>
                    <source srcset="./img/gallery/gallery-bag-desc.png 1x, ./img/gallery/gallery-bag-desc@2x.png 2x"
                        media="(min-width: 1440px)">
                    <source srcset="./img/gallery/gallery-bag-tab.png 1x, ./img/gallery/gallery-bag-tab@2x.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="./img/gallery/gallery-bag-mob.png 1x, ./img/gallery/gallery-bag-mob@2x.png 2x"
                        media="(max-width: 767px)">
                    <img src="./img/gallery/gallery-bag-mob.png" alt="Bag" class="gallery-img" />
                </picture>
            </li>
            <li class="gallery-list-item order-block-4">
                <picture>
                    <source
                        srcset="./img/gallery/gallery-carrots-desc.png 1x, ./img/gallery/gallery-carrots-desc@2x.png 2x"
                        media="(min-width: 1440px)">
                    <source
                        srcset="./img/gallery/gallery-carrots-tab.png 1x, ./img/gallery/gallery-carrots-tab@2x.png 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="./img/gallery/gallery-carrots-mob.png 1x, ./img/gallery/gallery-carrots-mob@2x.png 2x"
                        media="(max-width: 767px)">
                    <img src="./img/gallery/gallery-carrots-mob.png" alt="Bag" class="gallery-img" />
                </picture>
            </li>
            <!-- </div> -->


            <li class="gallery-list-item order-block-2">
                <picture>
                    <source srcset="./img/gallery/gallery-man-desc.png 1x, ./img/gallery/gallery-man-desc@2x.png 2x"
                        media="(min-width: 1440px)">
                    <source srcset="./img/gallery/gallery-man-tab.png 1x, ./img/gallery/gallery-man-tab@2x.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="./img/gallery/gallery-man-mob.png 1x, ./img/gallery/gallery-man-mob@2x.png 2x"
                        media="(max-width: 767px)">
                    <img src="./img/gallery/gallery-man-mob.png" alt="Bag" class="gallery-img" />
                </picture>
            </li>
            <li class="gallery-list-item order-block-3">
                <picture>
                    <source srcset="./img/gallery/gallery-woman-desc.png 1x, ./img/gallery/gallery-woman-desc@2x.png 2x"
                        media="(min-width: 1440px)">
                    <source srcset="./img/gallery/gallery-woman-tab.png 1x, ./img/gallery/gallery-woman-tab@2x.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="./img/gallery/gallery-woman-mob.png 1x, ./img/gallery/gallery-woman-mob@2x.png 2x"
                        media="(max-width: 767px)">
                    <img src="./img/gallery/gallery-woman-mob.png" alt="Bag" class="gallery-img" />
                </picture>
            </li>
        </ul>
    </div>
</section>