<section class="testimonial">
  <div class="container">
    <h2 class="testimonial-title">Що говорять наші клієнти</h2>

    <ul class="testimonial-card-list">
      <li class="testimonial-card-item">
        <ul>
          <li>
            <svg>
              <use href="../img/sprite.svgsdZ"></use>
            </svg>
          </li>

          <li>
            <svg>
              <use href="../img/sprite.svgsdZ"></use>
            </svg>
          </li>

          <li>
            <svg>
              <use href="../img/sprite.svgsdZ"></use>
            </svg>
          </li>

          <li>
            <svg>
              <use href="../img/sprite.svgsdZ"></use>
            </svg>
          </li>

          <li>
            <svg>
              <use href="../img/sprite.svgsdZ"></use>
            </svg>
          </li>
        </ul>

        <p>Сумка дуже зручна та стильна, використовую щодня!</p>

        <p>Анна</p>
      </li>

      <li class="testimonial-card-item">
        <p>Відмінна якість матеріалів, приємно здивована.</p>

        <p>Ігор</p>
      </li>
      <li class="testimonial-card-item">
        <p>Сумка повністю відповідає опису, рекомендую!</p>

        <p>Олена</p>
      </li>
      <li class="testimonial-card-item">
        <p>Швидка доставка та гарне обслуговування.</p>

        <p>Сергій</p>
      </li>
    </ul>
  </div>
</section>
