.gallery-section {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--background-color);
}

@media screen and (min-width: 768px) {
    .gallery-section {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

.gallery-title {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 16px;
}

.gallery-sub-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 32px;
}

/* ====================== gallery ========================= */
.gallery-list {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.gallery-item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.gallery-item-wrapper-left,
.gallery-item-wrapper-right {
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
}

.gallery-list-desc {
    display: none;
}

@media screen and (min-width: 768px) {

    .gallery-list {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 24px;
    }

    .gallery-item-wrapper-left {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .gallery-item-wrapper-right {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .gallery-list-item {
        width: 340px;
    }
}

@media screen and (min-width: 1440px) {

    .gallery-list {
        display: none;
    }

    .gallery-list-desc {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 24px;
    }

    .gallery-item-wrapper {
        display: flex;

        flex-direction: column-reverse;
        gap: 24px;
    }

    .gallery-item-wrapper-second-part {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .gallery-list-item {
        width: 421px;
    }
}