@media screen {
  .hero {
    background-color: var(--background-color);
  }
  .hero-container {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .hero-title {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: var(--primary-color);
    margin-bottom: 20px;
  }
  .hero-text {
    line-height: 1.6;
    color: var(--primary-color);
    margin-bottom: 24px;
  }

  .hero-button {
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    padding: 12px 24px;
    width: 288px;
    height: 50px;
    transition: opacity var(--primary-transition);
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-button:hover,
  .hero-button:focus {
    cursor: pointer;
    opacity: var(--hover-link-opacity);
  }

  .hero-button:active {
    background: #113916;
    opacity: 0.6;
  }

  .hero-button-link {
    color: var(--white-color);
    line-height: 0;
  }

  .hero-img {
    border-radius: 40px;
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 32px;
    padding-bottom: 64px;
  }

  .hero-content-wrapper {
    display: flex;
    margin-bottom: 20px;
  }

  .hero-title {
    margin-bottom: 0;
  }
  .hero-text-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .hero-text {
    font-size: 18px;
    margin-bottom: 0;
  }

  .hero-button {
    padding: 12px 23px;
    width: 148px;
    height: 50px;
    transition: opacity var(--primary-transition);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .hero-content-wrapper {
    justify-content: space-between;
  }

  .hero-title {
    font-size: 56px;
    flex-basis: calc((100% - 32px) / 2);
  }

  .hero-text-content-wrapper {
    flex-basis: calc((100% - 32px) / 2);
  }
}
