/**
  |============================
  | include css partials with
  | default @import url()
  |============================
/* Common styles */
@import 'modern-normalize';
@import url('./reset.css');

/* Sections style */
@import url('./base.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./feature.css');
@import url('./advantage.css');
@import url('./product.css');
@import url('./gallery.css');
@import url('./testimonial.css');
@import url('./contact.css');
@import url('./footer.css');
@import url('./mobile-menu.css');
